<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"] - Aurelia</title>

  @RenderSection("css", required: false)
</head>
<body>
  @RenderBody()

  @RenderSection("scripts", required: false)
<script type="text/javascript" src="/dist/runtime~app.bdecd7d613bd88a02cbc.bundle.js"></script><script type="text/javascript" src="/dist/vendors~0ba1d959.bdecd7d613bd88a02cbc.chunk.js"></script><script type="text/javascript" src="/dist/vendors~556c66f2.bdecd7d613bd88a02cbc.chunk.js"></script><script type="text/javascript" src="/dist/vendors~72fdf3f2.bdecd7d613bd88a02cbc.chunk.js"></script><script type="text/javascript" src="/dist/vendors~50e8d500.bdecd7d613bd88a02cbc.chunk.js"></script><script type="text/javascript" src="/dist/vendors~5ea1390f.bdecd7d613bd88a02cbc.chunk.js"></script><script type="text/javascript" src="/dist/vendors~ecff2e3d.bdecd7d613bd88a02cbc.chunk.js"></script><script type="text/javascript" src="/dist/vendors~02227409.bdecd7d613bd88a02cbc.chunk.js"></script><script type="text/javascript" src="/dist/vendors~7274e1de.bdecd7d613bd88a02cbc.chunk.js"></script><script type="text/javascript" src="/dist/vendors~ec8c427e.bdecd7d613bd88a02cbc.chunk.js"></script><script type="text/javascript" src="/dist/app~d0ae3f07.bdecd7d613bd88a02cbc.chunk.js"></script></body>
</html>
