<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"] - Aurelia</title>

  @RenderSection("css", required: false)
</head>
<body>
  @RenderBody()

  @RenderSection("scripts", required: false)
<script type="text/javascript" src="/dist/runtime~app.48db9bb1d14e7ea68429.bundle.js"></script><script type="text/javascript" src="/dist/vendors~0ba1d959.48db9bb1d14e7ea68429.chunk.js"></script><script type="text/javascript" src="/dist/vendors~556c66f2.48db9bb1d14e7ea68429.chunk.js"></script><script type="text/javascript" src="/dist/vendors~72fdf3f2.48db9bb1d14e7ea68429.chunk.js"></script><script type="text/javascript" src="/dist/vendors~50e8d500.48db9bb1d14e7ea68429.chunk.js"></script><script type="text/javascript" src="/dist/vendors~5ea1390f.48db9bb1d14e7ea68429.chunk.js"></script><script type="text/javascript" src="/dist/vendors~ecff2e3d.48db9bb1d14e7ea68429.chunk.js"></script><script type="text/javascript" src="/dist/vendors~02227409.48db9bb1d14e7ea68429.chunk.js"></script><script type="text/javascript" src="/dist/vendors~01be3b92.48db9bb1d14e7ea68429.chunk.js"></script><script type="text/javascript" src="/dist/vendors~f9ca8911.48db9bb1d14e7ea68429.chunk.js"></script><script type="text/javascript" src="/dist/app~d0ae3f07.48db9bb1d14e7ea68429.chunk.js"></script></body>
</html>
